<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zxiaofan.com.activitytest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zxiaofan.activitytest.FiristActity"
            android:label="This is FirstActivity"
            android:launchMode="singleTask"><!--singleTop模式：返回栈顶已经是该活动，则直接使用而不new-->
            <!--singleTask模式：栈中存在，则直接使用该实例，并把这个活动之上的所有活动出栈，否则new-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zxiaofan.activitytest.SecondActivity"
            android:launchMode="singleInstance"> <!--singleInstance返回单独的栈管理这个活动-->
            <intent-filter>
                <action android:name="com.zxiaofan.activitytest.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.zxiaofan.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
    </application>

</manifest>
